#top-header{
  height: 100px;
  width: 100%;
    background-color: black;
}

#logo p{
  padding-top: 32px;
  color: white;
  font-size: 2em;
}

#logo span{
  color: red;
}

nav{
padding-top: 34px;
}

nav a{
  color: white;
}

nav a: hover{
  color: red;
  text-decoration: none;
}
