/*once your team fixes all the issues on the stylesheet, have some fun with changing the colors on this stylesheet using hex codes.
Hex code options are available at the following link: http://www.w3schools.com/colors/colors_picker.asp */

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: black;
    clear: left;
    text-align: center;
}
header {
    font-family: Raleway, Open Sans, sans-serif; 
    background-color: #e6fff2;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0px;
    padding: 1em;
    font-family: Open Sans, sans-serif;
    line-height: 2em;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4d4d;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #e6fff2;
}

article {
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
}
img {
    float: right;
    margin: 10px 10px 10px 10px;
    clear: right;
}
 h1 {
    font-family: Raleway, Open Sans, sans-serif; 
}
 h3 {
    font-family: Raleway, Open Sans, sans-serif; 
}
p {
    font-family: Open Sans, sans-serif;
}
footer {
    font-family: Open Sans, sans-serif;
    color: white;
    background-color: #4d4d4d;
}
