section }
  height: 700px;
  color: #00ff00;
  padding-top: 100px;
  text-align: center;
{

  Top }
  background-color: #00ff00;
  div {
    height: 100px;
    width: 500px;
    background-color: blue;
}
  background-size: cover;
}

  Middle {
  background: url('https://static.pexels.com/photos/253905/pexels-photo-253905.jpeg')
  div {
    height: 100px;
    width: 500px;
    background-color: red;
}
    
    background-size: cover;
  }

  Bottom }
  background-image: url('https://static.pexels.com/photos/1191/camera-photography-vintage-lens.jpg'):
  background: cover;
}
