body {
  background: #586484;
}

section {
  height: 800px;
  color: #ffff00;
  padding-top: 100px;
  text-align: center;
}

#top {
  /* background: url('https://static.pexels.com/photos/297954/pexels-photo-297954.jpeg'); */
  /*what does background-size: cover do?*/
  background-size: cover;
}

#middle {
  /* background: url('https://static.pexels.com/photos/39811/pexels-photo-39811.jpeg'); */
  background-size: cover;
}

#bottom {
  /* background: url('https://static.pexels.com/photos/287229/pexels-photo-287229.jpeg'); */
  background: cover;
}

form {
  padding: 1em 0 2em;
}

img {
  max-width: 100%;
}

.fade-js {
  display: none;
}

footer {
  background: #a4a9b2;
  padding: 1em 0;
}
