/*
selector {
	property: value;
}
*/
img{
	height:10em;
	width:10em;	
}
h1{
	font-size:4em;
	color:white;
}
img:hover{
	border-radius:10em;
}
a:hover{
	color:blue;
	background: yellow;
}
body{
	background:url(https://static.pexels.com/photos/126590/pexels-photo-126590.jpeg);
	background-size:cover;
}
