#top-header {
  width: 100%;
  height: 100px;
  background-color: black;
}

p {
  font-size: 1.5em;
  color: #A9A9A9;
}

#logo p {
  padding-top: 32px;
  color: white;
  font-size: 2em;
}

#logo span {
  color: red;
}

nav {
  padding-top: 34px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 34px;
}

nav a {
  color: white;
}

nav a:hover {
  color: #bada55;
  text-decoration: none;
}

h1 {
  text-align: center;
  padding: 10px;
}

img {
  width: 100%;
}
