#top-header {
    width: 100%;
    height: 90px;
    background-color: #000000;
}

#logo h1 {
    color: red;
}

#logo h1 span {
    color: blue;
}

nav {
    margin-top: 40%;
    
}

nav a{
    color: white;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

img{
    display: block;
    margin: auto;
    width: 100%;
}

.first{
    margin-top: 3em;
    background-color: #bada55;
}

.first p{
    text-align: justify;
}

.second{
    margin-top: 3em;
}

.second p{
    text-align: justify;
}

h4{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

p{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
