img {
    height: 50%;
    width: 50%;
    border-radius: 20%;
}

header, footer {
    padding: 1em;
    color: blue;
    background: orange;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    color: orange;
    background: black;
}
