img {
    height: 50%;
    width: 50%;
    border-radius: 20%;
}

header, footer {
    padding: 1em;
    color: blue;
    background: orange;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    max-height: 500px;
    margin: 0;
    padding: 1em;
    color: black;
    background: orange;
}

nav ul {
    list-style-type: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
