section {
  height:700px;
  color: gray;
  padding-top: 100px;
  text-align: center;
}

.top {
  background: url('https://static.pexels.com/photos/2336/trees-grass-lawn-park.jpg');
  /*what does background-size: cover do?*/
  background-size: cover;
}

middle {
  background: url('add a photo from pexels')
  background-size: cover;
}

  .bottom {
  background-image: url('https://static.pexels.com/photos/287229/pexels-photo-287229.jpeg'):
  background: cover;
}
img {
  width=150px;
  height=150px;
  }
