.section {
  height:700px;
  color: gray;
  padding-top: 100px;
  text-align: center;
}

#top {
    background-size: cover;
}

#middle {
   background-size: cover;
}

  #bottom {
   background: cover;
}

.img {
  width=150px;
  height=150px;
  }
