/*once your team fixes all the issues on the stylesheet, have some fun with changing the colors on this stylesheet using hex codes.
Hex code options are available at the following link: http://www.w3schools.com/colors/colors_picker.asp  */

body {
    font-family: 'Roboto Condensed', sans-serif;
}

div.container {
    width: 100%;
    border: 1px solid gray;
    background: lightgrey;
}

header {
    background: #45CCFF;
}

footer {
    background: #49E83E;
}

header, footer {
    text-align: center;
    padding: 1em;
    color: white;
    clear: left;
}

/*
nav {
    float: left;
    max-width: 160px;
    margin: 0
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
*/

/* ---- Horizontal Nav ---- */
nav ul {
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E84B30;
}

nav li {
    display:inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

#intro {
    color: grey;
}

#jbparagraph {
    text-align: right;
    border: 10px solid red;
    color: blue;
}
