/*once your team fixes all the issues on the stylesheet, have some fun with changing the colors on this stylesheet using hex codes.
Hex code options are available at the following link: http://www.w3schools.com/colors/colors_picker.asp  */

html {
    background: url(https://static.pexels.com/photos/28162/pexels-photo-28162.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: #45CCFF;
    padding: 1em;
}

footer {
    background: #49E83E;
    padding: .5em;
}

footer a {
    color: white;
}

footer a:link {
    text-decoration: none;
}

footer a:hover {
    color: #E84B30;
}

header, footer {
    text-align: center;
    color: white;
    clear: left;
}

/* ---- Horizontal Nav ---- */
nav ul {
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E84B30;
}

nav li {
    display:inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #B243FF;
}

/* ---- Content ----*/
div.container {
    background: #FFD432;
    color: white;
    text-align: center;
    padding: .5em;
}

div.content {
    padding: 1em 3em;
}

#cat {
    max-width: 70%;
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: blue;
    color: white;
}

/* ---- Favorite list styling ---- */
#favorite-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#favorite-list li a {
    text-decoration: none;
}

#favorite-list li a:hover {
    background-color: #B243FF;
}

#favorite-list li a:visited {
    color: white;
}

/* ---- Hide img / h1 for jQuery fade ---- */
h1, img {
    display: none;
}

img.parrot {
    display: inline;
}
