img{
  height:200px;
  width:200px:
    border-radius:50%;
}

header, footer {
  paddin:1e;
  color:blue;
  backgroud:orange;
  text-align; center;
}

nav{
  float: left;
  max-width: 160px;
  margin:0;
  padding: 1em;
  color:red;
  background: green;
}
nav ul {
  list-style-type:none;
  padding; 0;
}

article {
  margin-lef:170px;
  border-left:1px solid gray;
  padding:1em;
  overflow: hidden;
