header {
  background: green;
  height: 10em;
  width: 100%;
  paddding: 10em;
}

header h1 {
  color: white;
  font-size: 4em;
  font-style: italic;
}

nav {
float: left;
  width: 10em
    height: 20em;
  padding: 1em;
  background: pink;
}

nav a {
  color: green;
  text-decoration: none
}

nav a:hover {
  text decoration: underline;
  background: yellow;
}
img{
  height: 10em;
  width: 10em;
}

  img:hover {
    border-radius: 10em;
}
footer {
  clear: both;
}

