header {
  background: #007ac1;
  color: white;
  width: 100%;
  padding: 1em;
}

header h1{
  color: #67daff;
  font-family: script;
}

nav{
  width: 5em;
  height: 20em;
  color: #007ac1;
  text-color: white;
}

nav a{
  color: white;
  text-decoration: none;
}

section {
  float: left;
  padding-left: 1em;
}

a:hover{
  border-bottom: yellow;
  border-style: solid;
}

img{
  max-width: 10%;
}

img:hover{
  border-radius: 5em;
  max-width: 30%;
}

footer{
  clear: both;
}
