header {
  background: #007ac1;
  color: white;
  width: 100%;
  padding: 1em;
}

header h1{
  color: #67daff;
  font-family: script;
}

img{
  max-width: 10%;
}



img:hover{
  border-radius: 5em;
  max-width: 30%;
}

footer{
  clear: both;
}
