
.img-circle{height: 140px;
}
#blue{
  background:blue;
}
#gray{
  background:gray;
}
section{
  height:300px;
  padding-top: 20px;
}

#contact {
  padding-top: 300px;
}

jumotron {
  background: url("");
}
