img {
  height: 200px;
  weidth: 200px;
  border-radius: 100%;
}

header, footer {
  padding: 1em;
  color: blue;
  background: #00FFFF;
  text-align: center;
}

nav {
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
  color: red;
  background: green;
}

nav ul {
  list-style-type: none;
}
article {
  margin-left: 170px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}
