header, footer {
  text-align:center;
  background: pink;
  padding: 2em;
  width:32em;
}

h1 {
  display:none;
}

button {
  padding: 1em;
  background:purple;
  border-radius: 1em;
}

img {
  height: 12em;
  width: 12em;
  border-radius: 12em;
}
