#top-header{
  width: 100%;
  height: 75px;
  background-color: #000089;
  padding: 0px;
  margin: 0px;
}

nav {
  text-align: right;
  padding-top: 28px;
}

nav a{
  color: white;
  padding: 10px;
}

nav a:hover{
  text-decoration: none;
  color: white;
}  
