#top-header {
  width: 100%;
  min-height: 100px;
  background-color: #000000;
}

#logo-name p {
  color: white;
  font-size: 2em;
  padding-top: 32px;
}

#logo-name span {
  color:yellow;
}

#nav-links a {
  padding:20px;
  color:#ffffff;
}

nav {
  padding-top:45px;
  text-align:right;
}

.center-text {
 text-align: center;
}

.light-grey-bg {
  background-color:#eaeaea;
}
