section {
  height: 700px;
  color: #eaeff7;/*choose a hex color for your text color*/;
  padding-top: 100px;
  text-align: center;
}

#top {
  background: url('https://static.pexels.com/photos/173910/pexels-photo-173910.jpeg');
  /*what does background-size: cover do?*/
  background-size: cover;
  }

#middle {
  background: url('https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds.jpg');
  background-size: cover;
  }

  #bottom {
  background: url('https://static.pexels.com/photos/296603/pexels-photo-296603.jpeg');
  background-size: cover;
}

@media screen and (min-width:480px) {
	    body {
	        background-color: lightgreen;
	    }
	    header{
	        background: yellow;
	    }
	    img{
	        border-radius:200px
	    }
	}

h1:hover {
  color: blue;
  }

h2:hover {
  color: orange;
  }

h3:hover {
  color: red;
  }

p:hover {
  color: #ff0000;
  }

