section {
  height; 700px;
  color: /*choose a hex color for your text color*/;
  padding-top: 100px;
  text-align: center;
}

#top {
  background; url('https://static.pexels.com/photos/173910/pexels-photo-173910.jpeg');
  /*what does background-size: cover do?*/
  background-size: cover;
  }

#middle {
  background: url('https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds.jpg');
  background-size: cover;
  }

  #bottom {
  background-image: url('https://static.pexels.com/photos/196464/pexels-photo-196464.jpeg'):
  background: cover;
}
