/*
selector {
	property: value;
}
*/
img{
	height:10em;
	width:10em;	
}
h1{
	font-size:4em;
	color:white;
}
img:hover{
	border-radius:10em;
}
a:hover{
	color:blue;
}
body{
	background:url(https://images.pexels.com/photos/34153/pexels-photo.jpg);
	background-size:cover;
}
