/*
selector {
	property: value;
}
*/
img {
	height: 10em;
	width: 10em;
}
h1 {
	font-size:4em;
	color:blue;
}
img:hover{border-radius:10em;
}
a:hover{
	color:green;
	background: magenta;
}
body {
	background:url("https://static.pexels.com/photos/129859/pexels-photo-129859.jpeg");
	background-size:cover;
}
	
