/*once your team fixes all the issues on the stylesheet, have some fun with changing the colors on this stylesheet using hex codes.
Hex code options are available at the following link: http://www.w3schools.com/colors/colors_picker.asp */

div.container {
    width: 100%;
    border: 1px #b22222;
}
div.transbox {
    margin: 30px;
    width: 400px;
    border: 4px solid black;
    background-color: white;
    opacity: 1;
}

header, footer {
    padding: 1em;
    color: firebrick;
    background-color: #b3d9ff;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px soild gray;
    padding: 1em;
    overflow: hidden;
}
body{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/57/95/80/579580e3806dc333769e143a04e2d765.jpg");
}
