.img-circle{
height:140 px;
}
#blue{
  background: blue;
}
#gray{
  background: gray;
}

section {
  height: 500px;
  padding-top: 100px;
}
contact{
  padding-top: 100px
}
jumbotron{
  background: url("")
}
