/*once your team fixes all the issues on the stylesheet, have some fun with changing the colors on this stylesheet using hex codes.
Hex code options are available at the following link: http://www.w3schools.com/colors/colors_picker.asp */

div.container {
    width: 100%;
    border: 1px #b22222;
}


header, footer {
    padding: 1em;
    background-color: rgba(0,255,0,0.5);
    clear: left;
    text-align: center;
    font-family: orbitron;
}
header{
    color:black;
}

footer{
    color:blue;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    background-color:rgba(255,255,255,0.5);
   
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px soild gray;
    padding: 1em;
    overflow: hidden;
}
body{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/57/95/80/579580e3806dc333769e143a04e2d765.jpg");
    
}
#p1,#p2,#p3{
    color:white
}
#p1{
    font-family: Georgia, serif;
}
#p2{
    font-size: "Comic Sans MS", cursive, sans-serif;
}
#p3{
    font-family: "Impact", sans-serif;
}

img {
  height:200px;
  width:200px;
  border-radius:200px
}
img,h1,marquee{
    display: none;
}
button{
    background-color: rgba(0,0,255,0.5);
}

P {
    background: rgba((255,255,255,0.5);
        }
@media screen and (max-width:480px) {
    body {
        background-color: lightgreen;
    }
    header{
        background: yellow;
    }
    img{
        border-radius:200px
    }
}
