img {
    height: 200px;
    width: 200px; 
    border-radius: 50%; 
} 

header, footer {
    padding: 1em;
    color: green;
    background: #99ccff;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding 1em;
    color: purple;
    background: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
} 

body {
    text-align: center;
}

p {
   color: purple;
}
title {
    color: #c299ff;
}

