img {
    height: 200px;
    width: 200px; 
    border-radius: 50%; 
} 

header, footer {
    padding: 1em;
    color: green;
    background: #99ccff;
    text-align: center;
}

body {
    align: center;
}



p {
   color: purple;
}
title {
    color: green;
}

