img {
    height: 200px;
    width: 200px; 
    border-radius: 50%; 
} 

header, footer {
    padding: 1em;
    color: green;
    background: #99ccff;
    text-align: right;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding 1em;
    color: purple;
    background: black;
    text-align: left;
    max-height: 160px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
} 

article {
    margin-left: 170px;
    border-left: 1px solid blue;
    padding: 1em;
    overflow: hidden;
    text-align: center;
}


p {
   color: purple;
}
title {
    color: #c299ff;
}

