header {
  background: red;
  height: 10em;
  width: 100%;
  padding: 1em;
}
  
 header h1 {
   color: blue;
   font size: 4em;
   font style: italic;
}
nav { 
  float: left;
   width: 10em;
   height: 20em
   padding: 1em;
   background: black; 

}

nav a {
  color: blue;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  background: red;
}

  img {
  height: 10em;
  width: 10em;
}
 
img:hover{
     border-radius: 10em;
}
  footer {
    clear: both;
}   
