/*once your team fixes all the issues on the stylesheet, have some fun with changing the colors on this stylesheet using hex codes.
Hex code options are available at the following link: http://www.w3schools.com/colors/colors_picker.asp */

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0px;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

@media screen and (min-width: 480px) {
	body {
    	background-color: lightgreen;
    }
    header {
        background: yellow;
    }
    img {
        border-radius: 200px;
	height: 200px;
	    width: 200px;
    }
   
}
