section {
  height: 700px;
  color: red;
  padding-top: 100px;
  text-align: center;
}

.top {
  background: url('https://static.pexels.com/photos/2154/sky-lights-space-dark.jpg');
  /*what does background-size: cover do?*/
  background-size: cover;
}

middle {
  background: url('https://static.pexels.com/photos/87650/galaxy-barred-spiral-galaxy-eridanus-constellation-starry-sky-87650.jpeg')
  background-size: cover;
}

  .bottom {
  background-image: url('https://static.pexels.com/photos/287229/pexels-photo-287229.jpeg'):
  background: cover;
}
