img {
  height: 200px;
  width: 200px;
  border-radius: 100%
}


header, footer {
  padding: 1em;
  color: blue;
  background: yellow;
  text-align: center;
}

nav {
  float: left;
  margin: 0;
  padding: 1em;
  background: green;
  color: yellow;
}
  
nav ul {
  list-style-type: none;
}
