/*INSTRUCTIONS:
1. Customize colors throughout the CSS document
2. Add an image selector and update the size and border-radius
*/

/*why do we need to prepend the container class with a dot*/
body {
    width: 100%;
    background: url("https://static.pexels.com/photos/220166/pexels-photo-220166.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.container {
    width: 100%;
    border: 0px;
    margin: 0% 10% 0% 10%;
}

/*what is the difference between using a comma between selectors vs. a space or >? 
*/
header, footer {
    width: 100%;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    text-shadow: 1em;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

#green-paragraph {
    /*enter property and value pairs here to style this paragraph*/
}

article {
    margin: 0% 10% 0% 10%;
    border: 0px solid gray;
    background-color: white;
    padding: 0em;
    overflow: hidden;
    box-shadow: 0em 1em 1em 0em black;
}
