/*INSTRUCTIONS:
1. Customize colors throughout the CSS document
2. Add an image selector and update the size and border-radius
*/

/*why do we need to prepend the container class with a dot*/
.container {
    width: 80%;
    border: 0px;
    margin: 10% 0% 10% 0%;
}

/*what is the difference between using a comma between selectors vs. a space or >? 
*/
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    text-shadow: 1em;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

#green-paragraph {
    /*enter property and value pairs here to style this paragraph*/
}

article {
    margin-left: 170px;
    border: 0px solid gray;
    background-color: #00000000;
    padding: 1em;
    overflow: hidden;
    box-shadow: 1em 1em #99999999;
}
