section {
  height: 800px;
}

#about {
  background: gray;
  }
  
#contact {
  background: pink;
  }

#about img {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  }
 
 #red {
  color: red;
  }
  
  #green {
    color: green;
    }
    
 #about a:hover {
  background: pink;
  }
  
  

