img {
height: 200px;
width: 200px;
border-radius: 27%;
}

header, footer {
  padding: 1em;
  color: blue;
  background: pink;
  text-align: center;
}

nav {
  float: left;
    max-width: 160px;
  margin: 0;
  padding: 1em;
  color: pink;
  background: green;
}

nav ul {
  list-style-type: none;
  padding: 10;
}

article {
  margin-left: 170px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}
